# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/bb-plugin
!web/app/plugins/bb-theme-builder
!web/app/plugins/wpforms
!web/app/plugins/wpforms-zapier
!web/app/plugins/butterbean
!web/app/plugins/butterbean-tinymce
!web/app/plugins/bb-ultimate-addon
!web/app/plugins/bbpowerpack
!web/app/plugins/wp-migrate-db-*
!web/app/plugins/wpmudev-updates
!web/app/plugins/wp-defender
!web/app/plugins/wp-smush-pro
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor/*
!vendor/.gitkeep

# Node
node_modules

# IDEs
.idea/
.kdev4/
*.kdev4
