/**
 * Typography
 * 
 * "Open Sans" is imported through parent theme. No need to import it again.
 */
$body-font-family: "Open Sans", "sans-serif";

/**
 * Colors
 */
$primary: #29c0b4;
$hilight: #32a79d;
$dark: #32a79d;
