<style>#flyout_preview img { max-width: 100%; height: auto; }</style>
<p class="post-flyout-wrap">
    <label for="select_cta"><strong>Select Call-to-Action</strong></label>
    <select name="flyout_select">
        <option value="false" {% if none_selected %}selected {% endif %}>Select a Call-to-Action</option>
        {% for choice in choices %}
            <option value="{{ choice.value }}" {% if choice.selected %}selected {% endif %}>{{ choice.label }}</option>
        {% endfor %}
    </select>
	<br />
	<br />
	<input type="checkbox" name="mobile_check" {% if mobile_check == 'on' %}checked{% endif %}> Disable for mobile
    <div id="flyout_preview">{{ preview | raw }}</div>
</p>
