header{
    .call-now-btn{
        a{
            color: #ffffff;
        }
    }
    .header-main-nav{
        .fl-row-content-wrap{
            .fl-row-content{
                .fl-col-group{
                    .fl-col{
                        .fl-col-content{
                            .fl-module-content{
                                .fl-html{
                                    .logo-wrap{
                                        img{
                                            @media(max-width: 768px){
                                                max-width: 300px;
                                            }
                                        }
                                    }
                                }
                            }
                            .fl-module-content{
                                ul.menu {
                                    height: 78px;
                                    li {
                                        border: 0;
                                        a {
                                            height: 62px;
                                            font-weight: 600;
                                            padding-top: 33px;
                                            padding-bottom: 12px;
                                        }
                                        &:hover {
                                            a {
                                                border-bottom-width: 3px;
                                                border-bottom-style: solid;
                                                border-bottom-color: $primary;
                                                border-radius: 0 !important;
                                            }
                                        }
                                        & + li {
                                            margin-left: 12px;
                                        }
                                        .fl-has-submenu-container{
                                            span.fl-menu-toggle{
                                                margin: -4px 0 0;
                                            }
                                        }
                                        ul.sub-menu {
                                            left: 0;
                                            padding-top: 16px;
                                            li {
                                                margin: 0;
                                                background: $primary;
                                                a {
                                                    height: auto;
                                                    border: 0;
                                                    padding: 8px 10px;
                                                    line-height: 20px;
                                                    color: #fff;
                                                    font-weight: 500;
                                                    &:hover {
                                                       background: $primary-dark;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}