.staff-container {
    .staff-image {
        img {
            border-radius: 50%;
            width: 100%;
            height: auto;
        }
    }

    .staff-content {
        h2 {
            padding: 0;
            margin: 0;
        }
        h3 {
            color: #a984bb;
            padding: 0;
            margin: 0;
            font-size: 24px;
            line-height: 1.2;
        }

        .staff-contact span {
            color: #a984bb;
            font-weight: bolder;
            display: block;

            a { 
                color: #a984bb;
                &:hover {
                    color: #f7d175;
                }
            }
        }
    }

    @media screen and ( min-width: 720px ) {
        display: flex;
        align-items: center;

        .staff-image {
            width: 40%;
            padding-right: 20px;
        }

        .staff-content {
            width: 60%;
            padding-left: 20px
        }
    }
}